<meta charset="utf-8" />
<title>@ViewBag.title | Mvc-E-Commerce</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Mvc-E-Commerce, en yeni teknoloji ürünlerini en uygun fiyatlarla sunan güvenilir e-ticaret platformudur. Laptop, monitör, RAM, ekran kartı ve daha fazlasını keşfedin!" />
<meta name="author" content="Yavuz Çelik" />
<link rel="shortcut icon" href="~/Uploads/Logos/Favicon.ico">